# Node.js dependencies
node_modules/
package-lock.json

# Build files
frontend/build/
frontend/dist/
backend/build/

# Logs & Debugging
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables (Ignore all .env files)
.env
frontend/.env
backend/.env

# Editor & OS Specific
.DS_Store
.vscode/
.idea/
Thumbs.db

# Database & Temp Files
*.sqlite
*.sqlite3
*.bak
dump.rdb
